
### Unity ###
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Aa]uto[Bb]uild/

.vscode/
.vs/

*.csproj
*.sln
*.suo
*.tmp
*.userprefs
*.app
.idea/
*.VC.*
.DS_Store
*~
*.swp

*.log
*.pyc

### Object Pooler ###
ObjectPooler/Assets/Temp/
ObjectPooler/Library/
ObjectPooler/Library/metadata/
ObjectPooler/Library/ShaderCache/
ObjectPooler/Library/ScriptAssemblies/
ObjectPooler/Temp/
Misc files/